<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Modifier le genre <%= @category.name %>
      </h1>
    </div>
  </div>
</section>

<%= render 'form', category: @category %>

